* {
  padding: 0px;
  margin: 0px;
}

header {
  text-align: center;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

h1#top-heading {
  font-family: "Poppins", sans-serif;
  font-size: 55px;
}

hr {
  border: none;
  background-color: rgb(233, 233, 233);
  height: 5px;
  width: 350px;
  margin: 0 auto;
}

#contact-area {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

#contact-area .contact-icons {
  width: 70px;
  padding-right: 20px;
}

div#update {
  color: red;
  margin: 0 auto; /*centering div*/
  margin-top: 50px;
  width: 320px;
  padding-right: 20px; /* to match padding of contact icons. */

  font-size: 20px;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
